<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Code:</b>
  <%= @problem.code %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<% if current_user && current_user.is_admin? %>
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<% end %>
<%= link_to 'Back', problems_path %>
