<h1>Editing user</h1>

<% if current_user && current_user.is_admin?%>
  <%= render 'admin/users/form' %>
  <%= link_to 'Show', :admin_user %> |
<% else %>
  <%= render 'users/form' %>
  <%= link_to 'Show', @user %> |
<% end %>
<%= link_to 'Back', :back %>
